body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
body header nav {
  z-index: 1;
  width: 100%;
  position: fixed;
}
body header nav ul {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}
body header nav ul .navButton {
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
body header nav ul .navButton:hover {
  border: solid white 2px;
  height: 46px;
  width: 126px;
  box-shadow: 3px 0px 5px white, -3px 0px 5px white, 0px 3px 5px white, 0px -3px 5px white;
}
body header .effectNav {
  opacity: 1;
  height: 150px;
  background: #000000;
  background: linear-gradient(180deg, #000000 0%, #000000 50%, rgba(0, 0, 0, 0) 100%);
}
body .logo {
  background-image: url("img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .parent {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 550px;
  top: 100px;
}
body .parent .textName {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  top: 72%;
  word-spacing: 40px;
  letter-spacing: 10px;
}
body .parent .reflect {
  position: absolute;
  top: 71%;
  height: 10%;
  width: 100%;
}
body .parent .reflect .reverserLetter {
  transform: rotateX(110deg) scale(1, 2.2);
  opacity: 38%;
}
body .child {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 14%;
  left: 27%;
  opacity: 1;
}
body .effectReverse {
  height: 150px;
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, #000000 50%, rgba(0, 0, 0, 0) 100%);
}
body section {
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section .propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.853);
  border-radius: 25px;
}
body section .propos .separateur {
  margin: 25px 0 0 60px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body section .propos .separateur .imgPhoto {
  position: absolute;
  top: 750px;
  left: 450px;
  background-image: url(img/chat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body section .propos .separateur .photo {
  width: 200px;
  height: 200px;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5), -3px 0px 5px rgba(0, 0, 0, 0.5), 0px 3px 5px rgba(0, 0, 0, 0.5), 0px -3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  background-color: white;
}
body section .propos .separateur .presentation {
  margin-top: 110px;
}
body section .propos .separateur .presentation p {
  margin: 0% 5%;
  width: 80%;
  text-align: left;
  font-size: large;
}
body section .propos .cursus {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
body section .propos .cursus .cvMignon {
  width: 20%;
  height: 100%;
  background-color: aqua;
}
body section .propos .cursus .cv .section {
  margin-bottom: 20px;
}
body section .propos .cursus .cv .section .info {
  margin-bottom: 10px;
}
.parallax {
  background-image: url("img/skyNight2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  height: 600px;
}
